<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxks.dao.ExamLibraryMapper">
  <resultMap id="BaseResultMap" type="com.zxks.pojo.ExamLibrary">
    <constructor>
      <idArg column="id_question" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="code_subject" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="question" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="answer" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id_question, code_subject, question, answer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam_library
    where id_question = #{idQuestion,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam_library
    where id_question = #{idQuestion,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxks.pojo.ExamLibrary">
    insert into exam_library (id_question, code_subject, question, 
      answer)
    values (#{idQuestion,jdbcType=INTEGER}, #{codeSubject,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxks.pojo.ExamLibrary">
    insert into exam_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idQuestion != null">
        id_question,
      </if>
      <if test="codeSubject != null">
        code_subject,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idQuestion != null">
        #{idQuestion,jdbcType=INTEGER},
      </if>
      <if test="codeSubject != null">
        #{codeSubject,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxks.pojo.ExamLibrary">
    update exam_library
    <set>
      <if test="codeSubject != null">
        code_subject = #{codeSubject,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where id_question = #{idQuestion,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxks.pojo.ExamLibrary">
    update exam_library
    set code_subject = #{codeSubject,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR}
    where id_question = #{idQuestion,jdbcType=INTEGER}
  </update>

  <select id="selectBySubCode" resultMap="BaseResultMap" parameterType="string">
    select
    <include refid="Base_Column_List"/>
    from exam_library
    where code_subject = #{codeSubject,jdbcType=VARCHAR}
  </select>
</mapper>