<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>修改密码 | 在线考试系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">在线考试系统 （修改密码）</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="loginForm">
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label">准考证号</label>
                                    <input class="form-control" id="idCardId" placeholder="准考证号" name="idCard" autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">旧密码</label>
                                    <input class="form-control" id="oldPasswordId" placeholder="旧密码"  type="password" name="oldPassword">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">新密码</label>
                                    <input class="form-control" id="newPasswordId" placeholder="新密码"  type="password" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">确认密码</label>
                                    <input class="form-control" id="passwordId1" placeholder="确认新密码"  type="password" name="password1">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button id="updateId" type="button" class="btn btn-primary btn-lg btn-block">确认更改</button>
                                <button id="cancelId" type="button" class="btn btn-outline btn-primary btn-lg btn-block">取消</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

    <!-- 自定义函数 -->
    <script src="dist/js/update_password.js"> </script>
</body>

</html>
